* {
  box-sizing: border-box;
  outline: 0;
  margin: 1;
}

.currency {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.prestige {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  background-color: #13579b;
}

.generatortab{
  margin-left: 10px;
  font-size: 1.5em;
  border-width: 4px;
}



.generator button.buy{
  font-size: 0.9em;
}

button.transcensiontab {
  border: 4px solid white;
  box-shadow: inset 0 0 6px 2px white;
  padding: 3%;
  padding: 12px 24px;
  margin: 8px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.transcensiontab:hover {
  transform: scale(1.05);
  filter: brightness(1);
}
.currency.transcension{
  text-align: center;
  background: black;
  color: white;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 26px white;
}

.settingbuttons{
  margin: 8px;
}